<form role="form">
  <div class="form-group">
    <label for="textarea-note">Give your note</label>
    <textarea class="form-control" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>