<nav id="navigation-main" class="navbar navbar-default navbar-fixed-top" role="navigation">
    {{#link-to 'map' class="btn btn-default navbar-btn"}}Back{{/link-to}}
    {{#link-to 'notes' class="btn btn-default navbar-btn"}}Notes{{/link-to}}
    {{#link-to 'notes.create' class="btn btn-default navbar-btn"}}New Note{{/link-to}}
</nav>
Notes

<table>

{{#each model}}

<tr><td>
	{{ title }}
</tr></td>

{{/each}}


{{outlet}}
